@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@-webkit-keyframes
fill {  0% {
    width: 0%;
    height: 1px;
}
    50% {
  width: 100%;
  height: 1px;
    }
    100% {
  width: 100%;
  height: 100%;
  background: #fff;
    }
}
@keyframes
fill {  0% {
    width: 0%;
    height: 1px;
}
    50% {
  width: 100%;
  height: 1px;
    }
    100% {
  width: 100%;
  height: 100%;
  background: #fff;
    }
}
@-webkit-keyframes
fillColour {  0% {
    color: #fff;
}
    50% {
  color: #fff;
    }
    100% {
  color: #333;
    }
}
@keyframes
fillColour {  0% {
    color: #fff;
}
    50% {
  color: #fff;
    }
    100% {
  color: #333;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow: hidden;
    font-size: 100%;
}

nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
    height: 5em;
    left: 0vw;
    width: 100vw;
    font-weight: 300;
    font-size: 1rem;
}

.side-content {
    text-align: center;
    background: rgba(0, 255, 0, 1.0);
    position: fixed;
    display: none;
    z-index: 100;
    height: 100vh;
    left: 0vw;
    width: 20vw;
    font-weight: 300;
    font-size: 1rem;
}
nav ul {
    list-style-type: none;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav a, nav a:visited, nav a:active {
    text-decoration: none;
    color: #fff;
}

nav a {
    -webkit-transition: color 2s, background 1s;
    transition: color 2s, background 1s;
    padding: 10px;
    position: relative;
    z-index: 0;
}

nav a.active { background: rgba(0, 0, 0, 0.9); }

nav a::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: #555;
    z-index: -1;
}

nav a:hover {
    -webkit-animation: fillColour 0.7s forwards ease-in-out;
    animation: fillColour 0.7s forwards ease-in-out;
}

nav a:hover::before {
    -webkit-animation: fill 0.7s forwards ease-in-out;
    animation: fill 0.7s forwards ease-in-out;
    opacity: 1;
}

.slides {
    width: 500vw;
    height: 100vh;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition-timing-function: linear;
    transition: transform 0.5s ease;
}

.slides .slide {
    height: 100vh;
    width: 100vw;
    background: pink;
    float: left;
    text-align: center;
    background-size: cover;
}

.slides .slide .content {
    text-align: left;
    width: 70vw;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 35vh 0 0 25vw;
    border-radius: 5px;
}

.slides .slide .content p {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.slides .slide:nth-child(1) { background-image: url(https://unsplash.it/1800/1200?image=612); }

.slides .slide:nth-child(2) { background-image: url(https://unsplash.it/1800/1200?image=912); }

.slides .slide:nth-child(3) { background-image: url(https://unsplash.it/1800/1200?image=212); }

.slides .slide:nth-child(4) { background-image: url(https://unsplash.it/1800/1200?image=312); }

.slides .slide:nth-child(5) { background-image: url(https://unsplash.it/1800/1200?image=412); }

.slides .slide img { width: 100%; }
